@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {  
  min-height: 100%;
  max-width: 1800px;  
  margin: 0 auto;
  font-family: 'TitillumWeb';
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-family: 'TitillumWeb';
  font-weight: bold;
  color: #858688;
  font-size: 2rem;
  left: 9px;
}

header {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  align-items: center;
  padding-top: 11px;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 10%;
}

.nav {
  display: flex;
  justify-self: right;
  align-items: center;
  left: -5px;
}

.nav li{
  margin: 0 14px;
  list-style: none;
}

.nav a {
  border-bottom: 1px solid transparent;
}

.nav a:hover {
  border-bottom-color: #535353;
}

.slash_list {
  list-style: none;
  display: flex;
  color: #a3a3a3;
 
}

#curr_lang {
  font-weight: bold;
  color: #959595;
}

#curr_lang {
  border-bottom: 1px solid #bfc5d4;
}

.slash_list li:nth-child(n+2)::before{
  content: '/';
  margin: 0 10px;
 
}

header button {
    width: calc(33px + 4vw);
    height: calc(15px + 2vw);
    justify-self: end;
    white-space: nowrap;
}

.main h2{
  margin-top: 7vw;
  font-weight: 400;
  font-size: 3.9rem;
  color: #6e6f6e;
  text-align: center;
}

.main h3 {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 2.25rem;
  margin-top: -5px;
}

.main h3 strong{
  color: #fc585c;
  font-weight: 400;
}

.main {
  background-image: url(../assets/images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;  
  height: calc(289px + 20vw);
  display: flex;
  align-content: center;
  align-items: center;
  flex-flow: column;
}

.btn_block {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.main .btn_block {
  background: radial-gradient(ellipse at top, rgba(103,140,227,1) 0%,rgba(125,185,232,0) 50%);
  background-repeat: no-repeat;
  background-position: 50% calc(11px + 1.1vw);
  background-size: calc(150px + 46vw) calc(22px + 2.2vw);
  width: calc(75px + 32vw);
  height: calc(26px + 2.2vw);
  margin-top: 3.8em;
}

.main button {
  margin: 0.4vw;
}

.public_accounts {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 47.5%;
  bottom: 38%;
  color: #676766;
  font-size: 22px;
}

.public_accounts .Gp:hover{
  color: #fc696c;
}

.public_accounts .FB:hover{
  color: #5e7bea;
}

.public_accounts .TW:hover{
  color: #36bae1;
}

i.FA-solid {
  font-family: "FontAwesome Pro";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

i.FA-brands {
  font-family: "FontAwesome Brands";
  font-style: normal;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dark-btn {
  box-sizing: border-box;
  background: linear-gradient(to right, #646c92, #5f2f6a);
  border-radius: 28px; 
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: bold;
  border: none;
  box-shadow: 0  0px  7px #5f2f6a40, 
              0  7px  9px #64739726, 
              0 13px 21px #1450cc40, 
              0  4px 16px #6691e959, 
              0  4px 16px #0000001a, 
              0  3px  9px #3567cd1a, 
              0  3px  9px #0000001a, 
              0  3px  3px #6691e91a, 
              0  3px  3px #0000001a;     
}

.create {
  width: calc(40px + 11.5vw);
  height: calc(22px + 2.2vw);
  font-size: calc(7.5px + 0.7vw);
}  

.round {
  box-shadow: none; 
  width: calc(22px + 1.5vw);
  height:  calc(22px + 1.5vw);
  font-size: calc(15px + 0.5vw);
}

.dark-btn:hover {
  background: linear-gradient(to right, #565792, #4e184a);
  box-shadow: 0  5px  12px #5f2f6a40, 
              0  12px  14px #5f769926, 
              0 18px 26px #0b76ce40, 
              0  9px 21px #58aee759, 
              0  9px 21px #0000001a, 
              0  8px  14px #3567cd1a, 
              0  8px  14px #0000001a, 
              0  8px  14px #54b6e41a, 
              0  8px  14px #0000001a;   
}

.blue-btn {  
  background: linear-gradient(to right, #35bbe0, #5e7bea);
  border-radius: 28px;
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: bold;
  border: none;
  box-shadow: 0  0px  7px #5f2f6a40, 
              0  7px  9px #1ae6da26, 
              0 13px 21px #1ae6da40, 
              0  4px 16px #1ae6da59, 
              0  4px 16px #0000001a, 
              0  3px  9px #1ae6da1a, 
              0  3px  9px #0000001a, 
              0  3px  3px #1ae6da1a, 
              0  3px  3px #0000001a; 
}

.blue-btn:hover {
  background: linear-gradient(to right, #228adf, #5046dd);
  box-shadow: 0  5px  12px #68318840, 
              0  12px  14px #1ae6da26, 
              0 18px 26px #1ae6da40, 
              0  9px 21px #1ae6da59, 
              0  9px 21px #0000001a, 
              0  8px  14px #1ae6da1a, 
              0  8px  14px #0000001a, 
              0  8px  8px #1ae6da1a, 
              0  8px  8px #0000001a; 
}

.bright-btn {
  background: linear-gradient(45deg, #582c7e, #6379cf);
  border-radius: 28px;
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: bold;
  border: none;
  box-shadow: 0  7px  9px #8e75de26, 
              0  4px 16px #6691e959, 
              0  4px 16px #0000001a, 
              0  3px  9px #3567cd1a, 
              0  3px  9px #0000001a, 
              0  3px  3px #6691e91a, 
              0  3px  3px #0000001a;   
}

.bright-btn:hover {
  background: linear-gradient(45deg, #43156b, #2840a0);
  box-shadow: 0  12px  14px #7d61da26, 
              0  8px 20px #4575d459, 
              0  8px 20px #0000001a, 
              0  8px  14px #2458c21a, 
              0  8px  14px #0000001a, 
              0  8px  8px #3e70d31a, 
              0  8px  8px #0000001a;   
}


.login-btn{
  background-color: #ffffff;
  border: none;
  font-family: 'TitillumWeb';
  transition: all ease-in 0.2s;
}

.login-btn:hover{
  box-sizing: border-box;
  color: #6379cf;
}

.section_middle {
  background-image: url('../assets/images/devices_bg.png');
  background-position: 0 100%;
  background-size: 100% 64%;
  background-repeat: no-repeat;
  height: 670px;
}

.image-line {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;  
}

.section_middle .image-line {
  margin-top: 4%;  
  margin-left: 10px;
}

.section_middle .image-line a {
  margin: 5px 24px;
}

.section_bottom .image-line {  
  justify-content: flex-end;
  position: relative;
  left: -7px;
}

.section_bottom .image-line a {  
  margin: 0px 21px;  
}

.download_app {
  background-image: url(../assets/images/devices.png);
  overflow-x: visible;
  overflow: visible;
  background-position: calc(50% + 19vw) calc(100% - 3vw);
  background-repeat: no-repeat;
  background-size: 32%;
  position: relative;
  z-index: 100;
  height: 800px;
  top: -244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.download_app .btn_block {
  margin-top: 40px;
  margin-bottom: 224px;
  width: 415px;
  justify-content: flex-end;
}

.download_app .btn_block *:last-child {
  margin-left: 8px;
}

.download_app .btn_block img {  
    width: 100%;
    height: auto;  
}

.download_app h2 {
  width: 435px;
  font-size: 2.25rem;
  font-weight: 400;
  color: #535353;
  text-align: right;
  margin-right: 26px;
  position: relative;
  top: 6px;
}

.download_app p {
  font-size: 1rem;
  color: #959393;
  width: 420px;
  text-align: right;
  margin-right: 17px;
  position: relative;
  top: 13px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0 12%;
}

.feature {
  width: 31.65%;
  color: #a3a1a1;
  display: grid;
  grid: 'img head1' 0.5fr 'img head2' 1fr 'paragraph paragraph' 4fr / auto 1fr;
  align-content: center;
  padding: 0;
}

.feature img{
    grid-area: img;
    width: 67px;
    height: 67px;
    object-fit: contain;
    
}

.feature h2{
  margin-top: 10px;
  grid-area: head1;  
  font-size: 2.15rem;
  font-weight: 400;
  line-height: 1;
  color: #555555;
}

.feature h3 {
  grid-area: head2;
  line-height: 1;
  font-size: 1.28rem;
  font-weight: 400;
  align-self: start;
}

.feature p {
  grid-area: paragraph;
  width: 95%;
  align-self: start;
}

.feature:nth-child(2){
  border-right: 1px solid black;
}

.main_feature {
  height: 210px;
  text-align: right;
  width: 63.7%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;  
}

.main_feature h2 {
  font-size: 3.8rem;
  color: #535353;
  font-weight: 400;
  padding-right: 42px;
  padding-top: 13px;  
}

.main_feature p {
  font-size: 1.55rem;
  margin-top: -5px;  
  margin-right: 3%;
  line-height: 2rem;
  margin-left: auto;
  max-width: 631px;
}

.main_feature strong {
  color: #f65151;
  font-weight: 400;
}

.main_feature button {
  font-size: 1.1rem;
  text-decoration: none;
  color: #676767;
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px solid #b9b9b9;
  padding: 22px 15px;
  line-height: 0.5;
  z-index: 2;
  position: relative;
  left: 157px;
  top: 20px;
}

.main_feature button:hover {
  background-color: #b9b9b9;
  color: #ffffff;
}

.feedback-slider {
  display: flex;
  flex-direction: column;
}
.feedback-slider input{
  
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #b7b7b7;
}

.feedback-slider input::after {
  content: '\25CF';
  font-size: 20px;
}

.feedback-slider input:checked {
  content: '\25CF';
  color: #101010;

}

.feedback-slider input:hover:not(:checked) {
  color: #808080;
}

.feedback-slider {
  margin-right: 30px;
}

.feedbacks {
  font-family: 'Malaga OT';
  font-style: italic;
  color: #101010;
  font-size: 1.7rem;
  width: 624px;
  display: flex;
  margin-left: 20%;
  margin-top: 3%;
}

.feedback-author {
  font-style: italic;  
  font-size: 1.1rem;
  color: #727272;
}

.section_bottom {
  width: 100%;
}

.donate {
  box-sizing: border-box;
  margin-top: 4%;
  width: 78%;
  padding-right: 20%;
  border-top: 1px solid #b9b9b9;
  float: right;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate h2 {
  margin-top: -10px;
  margin-left: -36px;
  font-size: 2.3rem;
  color: #535353;
  font-weight: 400;
}

.donate h3 {
  font-size: 1.85rem;
  color: #7c7c7c;
  font-weight: 400;
  position: relative;
  top: -12px;
  left: -16px;
}

.partners_sponsors {
  box-sizing: border-box;
  width: 78%;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #afafaf;  
  position: relative;
  top: 13px;
}

.partners_sponsors span {
  font-size: 0.9rem;
  padding: 1%;
}

footer {
  position: relative;
  top: 9px;
  box-sizing: border-box;
  width: 78%;
  padding-left: 11%;
  display: grid;
  grid-template-areas: "contacts    breadcrumbs"
                       "social      breadcrumbs"
                       "copyright   breadcrumbs";                                              
}

.contacts {
  grid-area: contacts;
  border-left: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 1.8;
  font-size: 0.9rem;
}

.contacts p {
  margin-top: 18px;
}

.contacts a {
  font-weight: bold;
}

.contacts a:hover {
  color: #5f2f6a;
}

.donate .btn_block {
  display: inline-block;
}

.upgrade-btn {
  width: calc(34px + 11.5vw);
  height: calc(22px + 2.2vw);
  font-size: calc(7px + 0.7vw);
  font-weight: 400;
  position: relative;
  right: 44px;
  top: 19px;
}

.upgrade-btn i {
  margin-right: 5px;
}

.donate-btn {
  width: calc(20px + 8vw);
  height: calc(22px + 2.2vw);
  font-size: calc(7.5px + 0.7vw);
  font-weight: 600;
  position: relative;
  left: 9px;
  top: 19px;
}

.donate-btn i {
  margin-right: 5px;
}

.breadcrumbs {  
  grid-area: breadcrumbs;
  display: flex;
  justify-self: end;
  font-size: 0.9rem;
}

.breadcrumbs h3 {
  margin-bottom: 20px;
}

.breadcrumbs li {
  padding: 2px 0;
}

.breadcrumbs div{
  text-align: right;  
  padding-right: 18px;  
}

.breadcrumbs .company {
  padding-right: 15px;  
}

.breadcrumbs .legal {
  padding-right: 50px;
  padding-left: 100px;
}

.breadcrumbs .neutronmail {
  padding-right: 33px;
  padding-left: 43px;
}

.breadcrumbs li{
  list-style-type: none;  
}

.breadcrumbs li:after{
  content: '\25CF';
  margin-left: 5px;
  color: #5c5c5c;
  font-size: 10px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs div:last-child {
  border-right: 1px solid #b9b9b9;
  height: 130px;
}

.breadcrumbs div:first-child {
  border-right: 1px solid #b9b9b9;
}

.copyright {
  grid-area: copyright;
  font-size: 0.8rem;
  margin-top: 11px;
}

.social {
  grid-area: social;
  margin-top: 98px;
  font-size: 0.85rem;
}

.social li a{
 border-bottom: 1px solid #d6d6d6;
 line-height: 0;
}